* {
  padding: 0;
  margin: 0;
}

body {
  margin-top: 50px;
	background: linear-gradient(90deg, #b9deed, #efefef);
}

img {
  width: 200px;
  margin: 5px auto;
  display: block;
  border-radius: 50%;
}

li {
  list-style: none;
}

.container {
  width: 500px;
  margin: 10px auto;
}

.foot {
  text-align: center;
  font-style: italic;
}